@import url("@media.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
.imgheaderlogo{
    width: 20rem;
    height: auto;
}
.imgheadereja{
    width: auto;
    height: 10rem;
}
.imgnav{   
    width: auto;
    height: 5rem;
    margin-left: 1rem;
}
body{
    background-color: black;
}
.c {
    filter: invert(100%);
  }
.menu{
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.536); 
    width: 100%;
    height: 5rem;
    margin-right: 1rem;
  
}
.marginlogonav{
   background-color: black;
}
.padding0{
    padding: 0;
}
.nav{
    display: flex;
    justify-content: center;
    height: 5rem;
    
    position: sticky;
    top: 0;
}

.centrarelemento{
    display: flex;
    justify-content: center;
    
}
.contmain{    
    display: flex;
    justify-content: center;
    }
.boxmain{
    text-align: center;    
}

.ms{                        /*margen superior*/
    margin-top: 2rem;
}

.p2{                          /*padding 2rem*/
    padding: 1rem;
}
.footer{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    padding: 1rem;
    margin: auto;
}

/* --------------------------------------Style ap.html------------------------------------- */

.mainpages{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: azure;
    padding: 0.5rem;
    text-align: center;    
}
.conteinerap{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subboxap img{
    width: 100%;
    height: auto;
}
.subboxap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2rem;

}

/* --------------------------------------Style contact.html------------------------------------- */

.maincontact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: azure;
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  
}
.sic{                           /* Tamaño del imput "Comentario" */
    height: 10rem;
    }
